/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

input[type="radio"] {
    margin-right: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

input[type="radio"]:checked {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

input[type="radio"]:hover {
    background-color: #e7e7e7;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #4CAF50;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #2b772f;
}

.pdf-container {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.result-container{
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.result-container button{
    padding: 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    max-width: fit-content;
    margin: 20px auto 0;
}

.result-container button:hover {
    background-color: #2b772f;
}

.pdf-preview{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.pdfFrame{
    width: 100%;
    height: 100%;
    border: none;
}